/* style.css */
:root {
    color-scheme: light dark;
    --border: 3px solid var(--color);
}

body {
    color: var(--color);
    background-color: var(--background-color);
    background-image: var(--background-image);
    background-repeat: repeat-y;
    background-position: center;
    background-attachment: fixed;
}

body, html {
    height: 100%;
    display: grid;
}

div {
    margin: 1em auto 1em auto;
}

img, h1, p, li {
    border: var(--border);
    background-color: var(--background-color);
    text-align: center;
    border-radius: 15px;
}

img {
    border-radius: 100%;
}

#me {
    width: 15em;
}

#cat {
    width: 10em;
}

h1, p {
    padding: 1em;
}

ul {
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0.5em;
    padding: 1em 7em;
}

a:link, a:visited {
    color: var(--color);
}

a:hover li {
    color: var(--background-color);
    background-color: var(--color);
    border-color: var(--background-color);
}
